extends ../layout

block content
    h1=title
    br
    table.table.table-hover.table-striped
        thead
            tr
                th(scope='col') Name
                th(scope='col') Title
                th(scope='col') Email
                th(scope='col') State
                th(scope='col') Role
                th(scope='col')
        tbody
            each user, i in users
                tr
                    td
                        h6=user.profile.name
                    td 
                        h6=user.profile.title
                    td
                        h6=user.email
                    td
                        h5
                            if user.profile.state=='0'
                                span.badge.badge-danger Disabled
                            else
                                span.badge.badge-success Enabled
                    td
                        if user.profile.role == '0'
                            h6 Global Admin
                        else if user.profile.role == '2'
                            h6 Provisioning Admin
                        else
                            h6 User
                    td.text-center
                        if i == 0
                            button.btn.btn-light(role='button', disabled='disabled') Disable Account
                            button.btn.btn-light(type='button', disabled='disabled') Edit
                            button.btn.btn-danger(type='button', disabled='disabled') Delete
                        else
                            if user.profile.state == 0
                                a.btn.btn-light(href='/users/enable/'+ user._id, role='button') &nbsp;Enable Account
                            else
                                a.btn.btn-light(href='/users/disable/'+ user._id, role='button') Disable Account
                            a.btn.btn-light(href='/users/edit/'+ user._id, role='button') Edit
                            a.btn.btn-danger(href='users/delete/'+ user._id, onclick="return confirm('Are you sure you want to delete "+user.email+"?');", role='button') Delete
