footer
  .container.text-center
    p.float-left © 2019 
      a(href='https://a-lign.com') A-LIGN
      |, All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/A-LIGN/SPIKE/issues') Issues
      li.list-inline-item V1.0
