.navbar.navbar-light.fixed-top.navbar-expand-lg
  .container
    a.navbar-brand(href='/')
      i.fas.fa-terminal
      | OPSENGINE
    if !user
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.navbar-toggler-icon
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.nav-item(class=(title === 'Home') ? 'active' : undefined)
            a.nav-link(href='/') Home
        ul.nav.navbar-nav.ml-auto
            li.nav-item(class=(title === 'Login') ? 'active' : undefined)
              a.nav-link(href='/login') Login
            li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
              a.nav-link(href='/signup') Create Account
    else
      if user.theme=='hacker' || user.theme=='geo'
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          ul.nav.navbar-nav
            li.nav-item(class=(title === 'Home') ? 'active' : undefined)
              a.nav-link(href='/') Home
            if user
              li.nav-item.dropdown.hoverdrop
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Implants
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='/implants/'+user.id) My Implants
                  a.dropdown-item(href='/implants') All Implants
                  a.dropdown-item(href='/deployImplant') Request Deployment
                  if user.profile.role == '0' || user.profile.role == '2'
                    .dropdown-divider
                    a.dropdown-item(href='/implantRequests') Manage Requests
              li.nav-item.dropdown.hoverdrop
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Attack Infrastructure
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='/userInfrastructure/') My Infrastructure
                  a.dropdown-item(href='/infrastructure') All Infrastructure
                  a.dropdown-item(href='/deployInfrastructure') Deploy Infrastructure
              li.nav-item.dropdown.hoverdrop
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Tools
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='https://gophish.a-lignpt.com:3333') Phishing
                  a.dropdown-item(href='https://github.com/SerpicoProject/Serpico') Reporting
          ul.nav.navbar-nav.ml-auto
            if !user
              li.nav-item(class=(title === 'Login') ? 'active' : undefined)
                a.nav-link(href='/login') Login
              li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
                a.nav-link(href='/signup') Create Account
            else
              li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
                a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
                  span= user.profile.name || user.email || user.id
                  i.caret
                ul.dropdown-menu
                  li.dropdown-item
                    a(href='/account') My Account
                  if user.profile.role == '0'
                    li.dropdown-item
                      a(href='/users') User Management
                  li.divider.dropdown-item
                  li.dropdown-item
                    a(href='/logout') Logout
      else
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.nav-item(class=(title === 'Home') ? 'active' : undefined)
              a.nav-link(href='/') Home
            if user
              li.nav-item.dropdown.hoverdrop
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Implants
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='/implants/'+user.id) My Implants
                  a.dropdown-item(href='/implants') All Implants
                  a.dropdown-item(href='/deployImplant') Request Deployment
                  if user.profile.role == '0' || user.profile.role == '2'
                    .dropdown-divider
                    a.dropdown-item(href='/implantrequest') Manage Requests
              li.nav-item.dropdown.hoverdrop
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Attack Infrastructure
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='/userInfrastructure/') My Infrastructure
                  a.dropdown-item(href='/infrastructure') All Infrastructure
                  a.dropdown-item(href='/deployInfrastructure') Deploy Infrastructure
              li.nav-item.dropdown.hoverdrop
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Tools
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='https://gophish.a-lignpt.com:3333') Phishing
                  a.dropdown-item(href='https://github.com/SerpicoProject/Serpico') Reporting
          ul.nav.navbar-nav.ml-auto
            if !user
              li.nav-item(class=(title === 'Login') ? 'active' : undefined)
                a.nav-link(href='/login') Login
              li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
                a.nav-link(href='/signup') Create Account
            else
              li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
                a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
                  span= user.profile.name || user.email || user.id
                  i.caret
                ul.dropdown-menu
                  li.dropdown-item
                    a(href='/account') My Account
                  if user.profile.role == '0'
                    li.dropdown-item
                      a(href='/users') User Management
                  li.divider.dropdown-item
                  li.dropdown-item
                    a(href='/logout') Logout

