extends layout

block content
  h1 Hack Harder
  hr
  br
  br
  .row
    .col-md-12.text-center
      h2#meme 
block scripts

  script var memes = [  "Mining bitcoin...",  "Dividing by 0...",  "Initialising Skynet...",  "[REDACTED]",  "Downloading more RAM...",  "Ordering 1s and 0s...",  "Navigating neural network...",  "Importing machine learning...",  "Issuing Alice and Bob one-time pads...",  "Generating key material by trying to escape vim...",  "(creating unresolved tension...",  "Symlinking emacs and vim to nano...",  "Speculatively executing recipes...",  "Resurrecting dead memes",  "l o a d i n g a e s t h e t i c s",  "Doing a barrel roll",  "Becoming human",  "Dankifying memes",  "Sacrificing to slender man",  "Summoning Cthulhu",  "Pirating Nickleback",  "Asking for help on the Arch Linux user forums",  "Hacking the Gibson",  "Solving CAPTCHAs",  "Doxing user on 4chan",  "Loading punch cards",  "Calling the internet police",  "Browsing SkyMall",  "git clone communism",  "@ tweeting Nancy Grace",  "Investing in bitcoin cash",  "Downloading a car",  "It is now safe to turn off your computer"]
  script document.getElementById("meme").textContent=memes[Math.floor(Math.random()*memes.length)]