doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - SPIKE
    link(rel='shortcut icon', href='/favicon.png')
    if !user 
      link(rel='stylesheet', href='/css/main.css')  
    else    
      if user.theme == 'hacker'
        link(rel='stylesheet', href='/css/hacker.css') 
      else if user.theme == 'geo'
        link(rel='stylesheet', href='/css/geo.css')
      else if user.theme == 'dark'
        link(rel='stylesheet', href='/css/main_dark.css')
      else
        link(rel='stylesheet', href='/css/main.css')      

    block head

  body
    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/popper.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/jquery.dataTables.min.js')
    script(src='/js/lib/bootstrap4-toggle.min.js')
    script(src='/js/main.js')