extends ../layout

block content
    h1 Device 1 - Interactive Session
    p.lead Add something here dynamic.
    hr
    link(rel='stylesheet', href='/js/lib/xterm/xterm.css')
    script(src='/js/lib/xterm/xterm.js')
    #terminal

block scripts
    script(src='/js/demo.js')
