extends ../layout

block content
	h3 Deploy Infrastructure
	hr
	br
	form(action='/deployInfrastructure', method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group.row
			label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Server Name
			.col-md-7
				input.form-control(type='text', name='name', id='name', required, placeholder='jumpbox001', autocomplete='name')
		.form-group.row
			label.col-md-3.col-form-label.font-weight-bold.text-right(for='image') Image
			.col-md-7
				select.form-control(type='text', name='image', id='image', value='image', autocomplete)
					each image, i in images
						option(value=image.id)=image.name
		.form-group.row
			label.col-md-3.col-form-label.font-weight-bold.text-right(for='location') Location
			.col-md-7
				select.form-control(type='location', name='location', id='location', value='location', autocomplete)
						option(value='nyc1') New York
						option(value='sfo2') San Francisco
						option(value='lon1') London
						option(value='ams3') Amsterdam
						option(value='fra1') Frankfurt
						option(value='blr1') Bangalore
						option(value='sgp1') Singapore
		.form-group
			.offset-sm-3.col-md-7.pl-2
				button#loader.btn.btn.btn-primary(type='submit')
					i.fas.fa-plus.fa-sm
					| Deploy Server
block scripts
	script $("#loader").click(function(){$("#loader").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Deploying...');}); 