extends ../layout

block content
	h3 Deploy Gateway
	hr
	br
	h2
		b #{name} successfully created!
	br
	h4 Please download the OpenVPN configuration file from the infrastructure page.
	i The gateway will be accessible within 1-3 minutes.
	br
	hr
	br
	a.btn.btn-primary(href='/infrastructure', role='button') Back

